.App {
  display: flex;
  justify-content: center;
  background-image: url("/src/images/Converted.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family:sans-serif;
}

.form_container{
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.rules_container{
    background-color: #8D398F;
    color: white;
    padding: 10px;  
}
.rules_header{
  display: flex;
  justify-content: space-between;
}
.cart{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;

}
.opacity_div{
background-color: #00000042;
height: 100%;
width: 100%;
display: flex;
justify-content: center;
}
.register_now{
background-color: white;
padding: 10px;
/* width: 150px !important; */
font-size: larger;
float: right;
font-weight: bolder;
color: hotpink;
border: none;
}
.register_now:hover{
  color: white;
  background-color: #8D398F;
}
.react-3d-carousel .slider-container .slider-right div{
display: none;
}
.react-3d-carousel .slider-container .slider-left div{
  /* background-color: black !important;
  border-color: black !important;  */
  display: none;
}